---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Milky-Way";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" alt="Silly Tongue out drawing of my original character Nanok" src="/processed-images/kyan _rodriguez_IMG_1442.png.webp" />
    </div>
    <h1>Emely's Portfolio</h1>
    <span class="badge">Dermis Designer (Tattoo Artist)</span>
    <h2>About</h2>
    <blockquote><p>What's my art background?</p></blockquote>
    <p>
        I'm a self taught artist who has been drawing since around the age of
        fourteen, I was in college for art for about three months before leaving
        due to the classes being very restrictive. My love for art first started
        off when my mom would tell me that my dad was a good artist, we had
        times where we would both sit and draw random things around the house
        which I heavily enjoyed and feel really got me comfortable with drawing.
    </p>
    <blockquote><p>Why Choose Me?</p></blockquote>
    <p>
        I'm very eager to learn from an experienced and incredible artist, after
        reviewing a lot of your work I feel you are the perfect match to help me
        strive in my path of becoming a tattoo artist. I mean, I did make this
        whole site to impress you (/.\)
    </p>
    <blockquote><p>What are my goals?</p></blockquote>
    <p>
        Although my style, portfolio, and skill level are still growing, my goal
        is to grow more floral pieces, I want to be able to make pieces that fit
        people's features to a tee. Being able to accentuate someone's features
        and each individual curves. I've always wanted to see my art as a way of
        making someone's body like a beautiful garden to admire, that's the big
        goal.
    </p>
    <!-- <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div> -->
    <h2>Some of my Art</h2>
    <div class="gif">
        <img
            width="400"
            alt="Drawing of my Original Character Nao"
            src="/processed-images/kyan _rodriguez_IMG_1445.png.webp"
        />
        <img
            height="500"
            alt="Drawing of three flowers"
            src="/processed-images/kyan _rodriguez_IMG_1428.png.webp"
        />
        <img
            width="400"
            alt="Drawing of two flowers"
            src="/processed-images/kyan_rodriguez_IMG_1475.png.webp"
        />
        <img
            width="400"
            alt="Drawing of a vase with flowers"
            src="/processed-images/kyan_rodriguez_IMG_1479.png.webp"
        />
        <img
            width="400"
            alt="Flash Sheet Drawings of flowers"
            src="/processed-images/kyan_rodriguez_IMG_1457.jpg.webp"
        />
        <img
            width="400"
            alt="Lily Vase drawing"
            src="/processed-images/kyan_rodriguez_IMG_1478.png.webp"
        />
    </div>
    <h2>Interests</h2>
    <p>
        I like to play Valorant. I touch grass when I go to work. I'm interested
        in getting an apprenticeship.
    </p>
</Layout>
